<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/x-icon" href="http://deci-europe.eu/deciproject/wp-content/uploads/2015/12/article-icon.png" />

    <environment names="Development">
        <link href="~/lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

        <link href="~/lib/Assets/bootstrap-tagsinput.css" rel="stylesheet" />

        <link href="~/lib/Assets/testimonial.css" rel="stylesheet" />
        <link href="~/lib/Assets/article.css" rel="stylesheet" />
        <link href="~/lib/Assets/loading.css" rel="stylesheet" />

        <link href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
        <script src="~/lib/jQuery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.0"></script>
    <script src="https://momentjs.com/downloads/moment.min.js"></script>

    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/lib/Assets/Js/article-component.js"></script>

</head>


<body data-userid="@(User.Claims.FirstOrDefault(p => p.Type == System.Security.Claims.ClaimTypes.PrimarySid)!=null ? User.Claims.FirstOrDefault(p => p.Type == System.Security.Claims.ClaimTypes.PrimarySid).Value:"")" data-token="@(User.Claims.FirstOrDefault(p => p.Type == System.Security.Claims.ClaimTypes.Hash)!= null ? User.Claims.FirstOrDefault(p => p.Type == System.Security.Claims.ClaimTypes.Hash).Value : "")">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><i class="fa fa-newspaper-o"></i> Conduit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index"> <i class="fa fa-home"></i> Home </a>
                </li>

                @if (User.Claims.Count() > 0)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user-circle"></i>    @(User.Claims.FirstOrDefault(p => p.Type == System.Security.Claims.ClaimTypes.Upn).Value)
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" asp-controller="User" asp-action="Profile"><i class="fa fa-user"></i> Profil</a>
                            <a class="dropdown-item" href="#"><i class="fa fa-heart"></i> Takip Ettiklerim</a>
                            <a class="dropdown-item" asp-controller="Article" asp-action="Index"><i class="fa fa-plus-square"></i> Yeni Makale</a>

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="User" asp-action="SingOut"><i class="fa fa-sign-out"></i> Çıkış Yap</a>
                        </div>
                    </li>


                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Login"><i class="fa fa-sign-in"></i> Giriş Yap</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="User" asp-action="Register"><i class="fa fa-user-plus"></i> Üye Ol</a>
                    </li>
                }
            </ul>

        </div>
    </nav>


    @RenderBody()


    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>


</html>
